
body {
margin: 0px;
padding: 0px;
 }

p {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
 }

.row  {
width: 100%;
margin: 0px;
padding: 0px 0px 0px 10px;
	}


@media (min-width: 992px) {

.col-lg1, .col-lg2, .col-lg3, .col-lg4, .col-lg5, .col-lg6, 
.col-lg7, .col-lg8, .col-lg9, .col-lg10, .col-lg11, .col-lg12 {
 	float: left;
}



.col-lg1  {
	width: 8,33%;
}

.col-lg2  {
	width: 16.66%;
}

.col-lg3  {
	width: 25%;
}

.col-lg4  {
	width: 33%;
}

.col-lg5  {
	width: 41.66%;
}

.col-lg6  {
	width: 50%;
}

.col-lg7  {
	width: 58.33%;
}

.col-lg8  {
	width: 66.66%;
}

.col-lg9  {
	width: 74.99%;
}

.col-lg10  {
	width: 83.33%;
}

.col-lg11  {
	width: 91.66%;
}

.col-lg12  {
	width: 100%;
}

}


@media (min-width: 768px) and (max-width: 991px) {


.col-md1, .col-md2, .col-md3, .col-md4, .col-md5, .col-md6, 
.col-md7, .col-md8, .col-md9, .col-md10, .col-md11, .col-md12 {
 	float: left;
}



.col-md1  {
	width: 8,33%;
}

.col-md2  {
	width: 16.66%;
}

.col-md3  {
	width: 25%;
}

.col-md4  {
	width: 33%;
}

.col-md5  {
	width: 41.66%;
}

.col-md6  {
	width: 50%;
}

.col-md7  {
	width: 58.33%;
}

.col-md8  {
	width: 66.66%;
}

.col-md9  {
	width: 74.99%;
}

.col-md10  {
	width: 83.33%;
}

.col-md11  {
	width: 91.66%;
}

.col-md12  {
	width: 100%;
}

}



* {
box-sizing: border-box;

}

h1 {
	text-align: center;
    font-weight: bold;
    font-size: 175%;
    color: black;
}

h2 {
    font-weight: bold;
    font-size: 125%;
    color: black;
    margin: 5px;
}


div {
padding: 0px;
}


.box {
    position: relative;
	background-color: grey;
	border: 1px solid black;
	margin: 10px;
	padding: 0px;
}



#box_title1 {
width:100px;
text-align: center;
border-bottom: 1px solid black;
border-left: 1px solid black;
position: absolute;
top: 0px;
right: 0px;
background-color: #e09396;
}

#box_title2 {
width:100px;
text-align: center;
border-bottom: 1px solid black;
border-left: 1px solid black;
position: absolute;
top: 0px;
right: 0px;
background-color: #d22d3a;

}

#box_title3 {
width:100px;
text-align: center;
border-bottom: 1px solid black;
border-left: 1px solid black;
position: absolute;
top: 0px;
right: 0px;
background-color: #e8d392;
}



.content  {
padding: 40px 10px 10px 10px;
}

